/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
.ag-header-cell-label{
    font-size: 20px;
    color: chocolate;
    font-weight: bolder;
}
.ag-header-cell-text{
    font-size: 20px;
    color: aqua;
    font-weight: bolder;
}